a {
  color: #0645ad;
  text-decoration: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
   -webkit-appearance: none;
}

span {
  color: grey;

}

html {
  min-height: 100%;
}

body {
  margin: 0;
  display: flex;
  background: linear-gradient(to bottom, #fff 0, #f6f6f6 160px);
  font-family: sans-serif;
  font-size: 0.9em;
  min-height: 100vh;
}

h1, h2 {
  font-family: serif;
  font-weight: normal;
  border-bottom: 1px solid #aaa;
  overflow: hidden;
}

h1 {
  font-size: 28.8px;
  margin: 0;
}

.main-container {
  order: 1;
  width: 100%;
}

main {
  background: white;
  border-top: 1px solid #a7d7f9;
  border-left: 1px solid #a7d7f9;
  border-bottom: 1px solid #a7d7f9;
  padding: 16px;
}
.biography {
  width: 270px;
  background: #f9f9f9;
  float: right;
  border: 1px solid #aaa;
  margin: 6px 0 12px 12px;
  padding: 25px;
  box-sizing: border-box;
}

.main-sidebar {
  order: 0;
  width: 176px;
  flex: 0, 0, auto;
}
.main-header {
  height: 80px;
  position: relative;
  font-size: 12px;
}
.main-header ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header li {
  list-style: none;
}

.main-header nav , .search {
  position: absolute;
}

.user-menu {
  position: absolute;
  top: 5px;
  right: 5px;
}

.user-menu a, span {
  padding: 8px;
  display: block;
  color: #0b0080;
}

.user-menu a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.talk-menu {
  position: absolute;
  left: 0;
  bottom: 0;
}

.edit-menu {
  position: absolute;
  right: 300px;
  bottom: 0;
}
.tab ul {
  background: linear-gradient(to bottom, transparent 0%, #a7d7f9 100%);
  padding-left: 1px;

}

.tab a {
  display: block;
  padding: 15px 5px 5px;
  background: linear-gradient(to bottom, #fff 0%, #e8f2f8  100%);
  margin-right: 1px;
  bottom: -1px;
  position: relative;
}

.active-tab a {
  background: white;
  border-bottom: 1px solid #fff;
}

.search {
  position: absolute;
  right: 10px;
  bottom: 0px;
  padding-bottom: 5px;
}

.main-footer {
  height: 150px;
}

.search input[type="search"]  {
  width: 270px;
  height: 25px;
  border: 1px solid #ccc;
  padding: 1px;
  font: 16px, arial, sans-serif;
  background: url(https://en.wikipedia.org/static/1.27.0-wmf.6/skins/Vector/images/search-ltr.png?511c1) no-repeat calc(100% - 5px) 50%;
              linear-gradient(to bottom, #f6f6f6 0%, #fff 100%);
  -webkit-appearance: textfield;
}

.search input[type="search"]:focus {
  outline: 0;
  padding-right: 20px;
}

.search input[type="submit"] {
    position: absolute;
    right: 0px;
    bottom: 6px;
    height: 24px;
    border: 1px solid transparent;
    padding: 1px;
    width: 25px;
    background: transparent;
    cursor: pointer;
}

.search input[type="submit"] {
  outline: 0;
}

.logo {
  display: block;
  width: 135px;
  height: 155px;
  background: url(../images/wikiicon.png);
  margin: 6px, auto, 0;
  color: rgb(0,0,0)
}
