body {
  font-size: 23px;
  font-family: Josefin Sans;
  line-height: 1.5;
  }

.center {
  width: 200px;
  color: black;

}

img{
  margin: auto;
  height: 60%;
  width: 100%;
  }

  h1 {
    color: white;
    position: absolute;
    top: 699px;
    text-align: right;
    height: auto;
    width: 100%;
    font-size: 80px;
    font-weight:bolder;
    font-family: Josefin Sans;
    margin-left: -12px;
    }

h2  {
  font-size: 36px;
  font-family: Josefin Sans;
  color: #616674;
  }

.text1 section,
.text3 section {
border-left: solid 3px black;
max-width: 600px;
padding-left: 1em;
text-align: left;
}

.text2 section,
.text4 section {
border-right: solid 3px black;
max-width: 600px;
padding-right: 1em;
text-align: right;
}

.datas {
  text-align: right;
}
section {
  margin-left: 500px;
    width: 600px;
  }
